@charset "utf-8";

/* gnb */
:root {
    --pointColor: var(--color-primaryy);
    --allMenuSize: 4em;
}

.sideMenuOpen .gnb a:hover {
    color: var(--color-primaryy);
}

.wrap.gnbModal::before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .3);
    z-index: 5;
    overflow: hidden;
}

.wrap.gnbModal .header {
    background-color: #fff;
    z-index: 6;
}

.gnb {
    font-size: 1.04em;
    width: 100%;
    max-width: 800px;
}

.gnb .gnb-wrap {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

.gnb .gnb-wrap>li {
    flex-grow: 1;
    z-index: 10;
    display: flex;
    align-items: center;
    position: relative;
    flex-basis: 100%;
}


/* 1차메뉴 링크 */
.gnb .gnb-wrap>li>a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 1.4rem;
    letter-spacing: -0.5px;
    width: 100%;
    font-size: 1.05em;
    font-weight: 500;
}

.gnb .gnb-wrap>li.active>a {
    color: var(--pointColor) !important;
}

.gnb .gnb-wrap>li.on>a {
    color: var(--pointColor);
}

.gnb .panel {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: #fff;
    z-index: 9;
    border-top: solid 1px #E0E0E0;
    border-bottom: solid 1px #E0E0E0;
    transform-origin: top;
    /*  transform: translateY(100%);*/
    overflow: hidden;
}

.gnb.active .panel,
.gnb.allMenuActive .panel {
    display: block;
    animation: slidein;
    animation-delay: 0s;
    animation-duration: .2s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

@keyframes slidein {
    from {
        transform: scaleY(0);
    }

    to {
        transform: scaleY(1.0);
    }
}


.gnb .depth-2 {
    position: absolute;
    left: 0;
    /*  top: var(--allMenuSize);*/
    bottom: 0;
    display: none;
    z-index: 11;
    padding: 2rem 1.5rem 4rem;
    border-left: solid 1px #E0E0E0;
    margin-top: 1px;
    color: #000;
    opacity: 0;
    transform: translateY(100%);
    font-size: .95em;
    letter-spacing: -1px;
}

.gnb .gnb-wrap>li:last-child .depth-2 {
    border-right: solid 1px #E0E0E0;
}

.gnb.active .depth-2,
.gnb.allMenuActive .depth-2 {
    display: block;
    animation: opacity;
    animation-delay: .2s;
    animation-duration: .2s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.gnb.active .depth-1.on .depth-2,
.gnb.active .depth-1.active .depth-2,
.gnb.allMenuActive .depth-1.active .depth-2 {
    background-color: #FDFDFD;
    border-top: solid 1px var(--color-border);
}

/* 2차메뉴 링크 */
.gnb.active .depth-2>li>a,
.gnb.allMenuActive .depth-2>li>a {
    display: flex;
    align-items: center;
    padding: 1.5rem 0;
    width: 100%;
    z-index: 1;
}

.gnb.active .depth-2>li>a:hover,
.gnb.allMenuActive .depth-2>li>a:hover,
.gnb.active .depth-2>li.active>a {
    color: var(--pointColor);
    position: relative;
    text-underline-offset: 5px;
}

/* 2차메뉴 마우스 오버시 왼쪽 사이드바 */
.gnb.active .depth-2>li>a:hover::before,
.gnb.allMenuActive .depth-2>li>a:hover::before,
.gnb.active .depth-2>li.active>a::before {
    content: '';
    position: absolute;
    left: -16px;
    top: calc(50% - 7px);
    height: 15px;
    width: 2px;
    background-color: var(--pointColor);
}

/* pc버전에서 숨겨지는 요소 */
.sideMenuCloseBtn,
.header .etcMenu .sideMenuBtn {
    display: none;
}

@media (max-width:1000px) {
    :root {
        --sideMenuSize: 400px;
    }

    .header .top {
        display: flex;
        align-items: center;
        height: var(--allMenuSize);
    }

    .header .etcMenu .sideMenuBtn {
        display: flex;
    }

    .sideMenuBtn i {
        font-size: 24px;
    }

    .gnb {
        display: flex;
        flex-direction: column;
        position: fixed;
        right: -100vw;
        top: 0;
        background-color: #fff;
        width: 100vw;
        height: 100vh;
        max-width: var(--sideMenuSize);
        z-index: 30;
        z-index: 200;
        overflow-y: auto;
        transition: all .3s ease-out 0s;
        font-size: 16px;
    }

    .gnb .submenu {
        width: 100%;
    }

    .gnb .util {
        padding: 15px 0;
        background-color: #fafafa;
        border-bottom: solid 1px #ededed;
    }

    .gnb .util a {
        padding: .5rem 2rem;
        align-items: center;
    }

    .sideMenuOpen .header {
        position: static;
    }

    .sideMenuOpen .gnb .gnb-wrap {
        display: block;
        width: 100%;
        height: auto;
        max-width: 400px;
        margin-right: auto;
        margin-left: auto;
    }

    .sideMenuOpen #gnb .depth-2 {
        display: none;
    }

    .sideMenuOpen .gnb .gnb-wrap>li {
        align-items: flex-start;
        color: #333;
    }

    .sideMenuOpen .gnb .gnb-wrap>li>a {
        border-bottom: solid 1px #e0e0e0;
        padding: 2.5rem;
        justify-content: flex-start;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .sideMenuOpen .gnb .gnb-wrap>li>a::after {
        content: "\ea50";
        font-family: "remixicon";
        display: inline-flex;
        width: 24px;
        height: 24px;
        border-radius: 5px;
        background-color: var(--dark-bg);
        color: #fff;
        font-size: 24px;
        line-height: 1;
    }

    .sideMenuOpen .gnb .gnb-wrap>li>a.hide::after {
        display: none
    }

    .sideMenuOpen .gnb .gnb-wrap>li.open>a {
        color: var(--dark-bg);
        border-color: var(--dark-bg);
    }

    .sideMenuOpen .gnb .gnb-wrap>li.open>a::after {
        transform: rotate(180deg);
        transform-origin: center;
    }

    .sideMenuOpen .gnb .gnb-wrap>li {
        flex-direction: column;
        width: 100%;
    }

    .sideMenuOpen .gnb a {
        display: flex;
        gap: .5rem;
        font-weight: 500;
    }

    .sideMenuOpen .gnb .depth-2 {
        position: static;
        width: 100%;
        border-left: none !important;
        border-right: none !important;
        border-bottom: solid 1px var(--color-border);
        background-color: #fafafa;
        padding-bottom: 2rem;
        opacity: 1 !important;
        transform: none;
        font-size: 1em;
    }

    .sideMenuOpen .gnb .depth-2>li>a {
        padding: 1.5rem 1rem;
        display: flex;
        align-items: center;
        color: #666666;
    }

    .sideMenuOpen .gnb .depth-2>li>a:hover,
    .sideMenuOpen .gnb .depth-2>li.active>a {
        color: var(--color-primaryy);
    }

    .sideMenuOpen .gnb .depth-2>li>a:before,
    .sideMenuOpen .gnb .depth-2>li.active>a:before {
        content: '';
        display: inline-block;
        width: 3px;
        height: 3px;
        border-radius: 3px;
        background-color: #B1B1B1;
        margin-right: 10px;
    }

    .sideMenuOpen .gnb {
        right: 0;
        transition-delay: .1s;
    }

    .allMenuBtn {
        display: none;
    }

    .sideMenuCloseBtn {
        display: none;
    }

    .sideMenuOpen .sideMenuCloseBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28px;
        height: 28px;
        border-radius: 10px;
        color: #222;
        position: absolute;
        right: 20px;
        top: 15px;
    }

    .sideMenuOpen .sideMenuCloseBtn:hover {
        color: var(--color-primaryy);
    }

    .gnb.active .panel,
    .gnb.allMenuActive .panel {
        display: none !important;
    }


}