@charset "UTF-8";

/*-------------------------------------------------

title       : 게시판/갤러리 공통
Author      : EASESOFT
Create date : 2024-04

-------------------------------------------------*/

/* 전체 공통 ***********************************************************************************/

input[type=text],
input[type=password],
select {
  border-radius: var(--form-rd1);
  padding-left: 1rem;
  padding-right: 1rem;
  height: 4.6rem;
}

/* 포인트 색상 */
.point11 {
  color: #C30909;
}

/* 버튼 */
.btn_line {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #CBD3E2;
  font-size: 1.5rem;
  min-width: 7.5rem;
  padding: 0.3rem 0.9rem;
  background-color: #fff;
  color: #333;
  transition: all 0.2s;
  white-space: nowrap;
}

.btn_line i {
  display: none;
}

.btn_line+.btn_line {
  margin-right: 1rem;
}

.btn_line::after {
  font-family: 'xeicon';
  margin-left: 0.2rem;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
}

.btn_line.download::after {
  content: "\ec54";
}

.btn_line.preview::after {
  content: "\ea70";
}

.btn_line.go_link::after {
  content: "\e980";
}

.btn_line.check::after {
  content: "\eb7b";
}

.btn_line.navy {
  border-color: #1B2539;
  background: #1B2539;
  color: #fff;
}

@media (min-width:1025px) {

  .btn_line:hover,
  .btn_line:focus {
    border-color: #000;
    border-radius: 0.5rem;
    box-shadow: 0 0 6px #00000029;
  }

  .btn_line.navy:hover,
  .btn_line.navy:focus {
    border-color: var(--primary);
    background: var(--primary);
  }
}



/* 목록 공통 ***********************************************************************************/

/* board_info */
.board_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  margin-bottom: 1.5rem;
}

.board_info .page {
  order: -1;
  color: #151515;
  font-size: 1.5rem;
}

.board_info .page span {
  display: inline-block;
  vertical-align: top;
  color: #151515;
  margin-right: 3rem;
  position: relative
}

.board_info .page span+span::before {
  display: inline-block;
  width: 1px;
  height: 1rem;
  background-color: #ddd;
  content: '';
  position: absolute;
  left: -1.6rem;
  top: 50%;
  transform: translateY(-50%)
}

.board_info .page strong,
.board_info .page b {
  font-weight: 500;
  color: #000
}

.board_info .page .icon_rss {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 0.5rem;
  font-size: 2rem;
  text-align: center;
  line-height: 2.5rem;
  vertical-align: middle
}

.board_info .page .icon_rss::before {
  display: block;
  width: 100%;
  height: 100%;
  font-family: 'xeicon';
  color: #ee802f;
  content: ''
}

.board_info .form {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  gap: 0.5rem;
  font-size: 1.7rem;
  width: auto;
}

.board_info .form .btn {}

.board_info .form .btn button {
  display: block;
  width: 4.6rem;
  height: 4.6rem;
  padding-right: 0;
  background-color: #292A30;
  color: #fff;
  font-size: 0;
  font-weight: normal;
  text-align: center;
  transition: all .3s;
}

.board_info .form .btn .btn-write {
  background-color: #243458 !important;
}

.board_info .form .form_select {
  width: 100%;
  min-width: 12rem;
  height: 100%;
  display: inline-flex;
}

.board_info .form_textbox {
  width: 100%;
  height: 4.6rem;
  font-size: 1.7rem;
  max-height: 100%;
  padding: 0 1rem;
  border: 1px solid #ddd;
  text-align: left;
  vertical-align: top;
}

.board_info .form_textbox:focus {
  border-color: #000;
}

.board_info .form_textbox.hasDatepicker {
  width: 20rem;
  padding-right: 5rem;
}

.board_info .form_textbox.hasDatepicker+.ui-datepicker-trigger {
  position: absolute;
  left: auto;
  top: auto;
  width: 3rem;
  margin: 0.6rem 0 0 -4rem;
}

.board_info .form_textbox.number {
  width: 15rem;
  vertical-align: middle
}

.board_info .form #news_day_form>span {
  width: 46%;
  display: inline-block;
  vertical-align: top
}

.board_info .form button::before {
  display: block;
  font-size: 2rem;
  line-height: 4.6rem;
  font-family: 'remixicon';
}

.board_info .form .btnWrite button::before {
  content: '\f0cd';
}

/* board_info - 조직도 */
.board_info.organization_info {
  flex-direction: column;
  align-items: stretch;
}

.board_info.organization_info .form {
  justify-content: center;
  width: 100%;
  margin-bottom: 5.0rem;
  padding: 4.0rem 2.0rem;
  background: #FBFBFB;
}

.board_info.organization_info .form_textbox {
  width: 40rem;
}

.board_info.organization_info .form .btn button {
  width: 9.0rem;
}

.board_info.organization_info .page {
  order: 2;
}

@media (min-width:1025px) {

  .board_info .form .btn button:hover,
  .board_info .form .btn button:focus {
    background-color: #555C6B;
    border-radius: 0.5rem;
  }
}


/* 페이징 */
*+.board_pager {
  margin-top: 3rem
}

.board_pager {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.7rem;
  text-align: center
}

.board_pager a {
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: .6rem;
  color: #151515;
  transition: all 0.3s
}

.board_pager a.nav {
  border: 1px solid #E5EBF0;
  font-size: 0;
}

.board_pager a.nav::before,
.board_pager a.nav::after {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: xeicon;
  font-size: 2.0rem;
  width: 5px;
}

.board_pager a.nav.first::before {
  content: "\f2e3";
}

.board_pager a.nav.start::before,
.board_pager a.nav.start::after {
  content: "\e93c";
}

.board_pager a.nav.last::before {
  content: "\f2e5";
}

.board_pager a.nav.end::before,
.board_pager a.nav.end::after {
  content: "\e93f";
}

.board_pager a.nav.prev::before {
  content: "\e93c";
}

.board_pager a.nav.next::before {
  content: "\e93f";
}

.board_pager a.on {
  border-color: var(--dark-bg);
  background: var(--dark-bg);
  color: #fff;
  font-weight: 600;
}

.board_pager a.total {
  display: none;
}

@media (min-width:1025px) {
  .board_pager a:hover {
    border-color: #E5EBF0;
  }

  .board_pager a.nav:hover {
    background: #1B2539;
    border: 1px solid #E5EBF0;
    color: #fff;
  }

  .board_pager a.on:hover {
    border-color: transparent;
  }
}


/* 하단 버튼 영역 */
.border_list_bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 3.0rem;
}

.border_list_bottom .left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1.0rem;
}

.border_list_bottom .right {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1.0rem;
}

.border_list_bottom button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 2.0rem;
  background: #1B2539;
  border: 1px solid #1B2539;
  font-weight: 500;
  font-size: 1.7rem;
  color: #fff;
  transition: all 0.2s;
  box-sizing: border-box;
}

.border_list_bottom button.btn-old {
  background: #fff !important;
  border-color: #999;
  color: #000 !important;
}

@media (min-width:1025px) {
  .border_list_bottom button:hover {
    border-color: var(--primary);
    background-color: var(--primary);
    color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0 6px #00000029;
  }

  .border_list_bottom button.btn-old:hover {
    border-color: #000;
  }
}

/*넓이*/
.W100 {
  width: 100% !important;
  flex: 0 0 100% !important;
}

.W95 {
  width: 95% !important;
  flex: 0 0 95% !important;
}

.W90 {
  width: 90% !important;
  flex: 0 0 90% !important;
}

.W85 {
  width: 85% !important;
  flex: 0 0 85% !important;
}

.W80 {
  width: 80% !important;
  flex: 0 0 80% !important;
}

.W75 {
  width: 75% !important;
  flex: 0 0 75% !important;
}

.W70 {
  width: 70% !important;
  flex: 0 0 70% !important;
}

.W65 {
  width: 65% !important;
  flex: 0 0 65% !important;
}

.W60 {
  width: 60% !important;
  flex: 0 0 60% !important;
}

.W55 {
  width: 55% !important;
  flex: 0 0 55% !important;
}

.W50 {
  width: 50% !important;
  flex: 0 0 50% !important;
}

.W45 {
  width: 45% !important;
  flex: 0 0 45% !important;
}

.W40 {
  width: 40% !important;
  flex: 0 0 40% !important;
}

.W39 {
  width: 39% !important;
  flex: 0 0 39% !important;
}

.W35 {
  width: 35% !important;
  flex: 0 0 35% !important;
}

.W33 {
  width: 33.333% !important;
  flex: 0 0 33.333% !important;
}

.W30 {
  width: 30% !important;
  flex: 0 0 30% !important;
}

.W28 {
  width: 28% !important;
  flex: 0 0 28% !important;
}

.W25 {
  width: 25% !important;
  flex: 0 0 25% !important;
}

.W24 {
  width: 24% !important;
  flex: 0 0 24% !important;
}

.W22 {
  width: 22% !important;
  flex: 0 0 21% !important;
}

.W20 {
  width: 20% !important;
  flex: 0 0 20% !important;
}

.W19 {
  width: 19% !important;
  flex: 0 0 19% !important;
}

.W18 {
  width: 18% !important;
  flex: 0 0 18% !important;
}

.W17 {
  width: 17% !important;
  flex: 0 0 17% !important;
}

.W16 {
  width: 16% !important;
  flex: 0 0 16% !important;
}

.W15 {
  width: 15% !important;
  flex: 0 0 15% !important;
}

.W14 {
  width: 14% !important;
  flex: 0 0 14% !important;
}

.W13 {
  width: 13% !important;
  flex: 0 0 13% !important;
}

.W12 {
  width: 12% !important;
  flex: 0 0 12% !important;
}

.W11 {
  width: 11% !important;
  flex: 0 0 11% !important;
}

.W10 {
  width: 10% !important;
  flex: 0 0 10% !important;
}

.W9 {
  width: 9% !important;
  flex: 0 0 9% !important;
}

.W8 {
  width: 8% !important;
  flex: 0 0 8% !important;
}

.W7 {
  width: 7% !important;
  flex: 0 0 7% !important;
}

.W6 {
  width: 6% !important;
  flex: 0 0 6% !important;
}

.W5 {
  width: 5% !important;
  flex: 0 0 5% !important;
}

.W0 {
  width: 0% !important
}

.W-auto {
  width: auto !important
}

/*align*/
.txt_center,
.TxtC,
.TxtC * {
  text-align: center !important
}

.txt_left,
.TxtL,
.TxtL * {
  text-align: left !important
}

.txt_rightm,
.TxtR,
.TxtR * {
  text-align: right !important
}

.sr_only {
  display: none;
}


/* 게시판 목록(list) ***********************************************************************************/

/* 테이블형 */
.board-list {
  border-top: 2px solid #454B56;
  border-bottom: 1px solid #ededed;
}

.board-list table {
  width: 100%;
  table-layout: fixed;
}

.board-list thead th {
  font-size: 1.7rem;
  padding: 1.8rem 1rem;
  border-bottom: none;
  font-weight: 600;
  color: #333;
  text-align: center;
  white-space: nowrap;
  background-color: #fafafa;
}

.board-list tbody tr {
  border-bottom: 1px solid #ddd;
}

.board-list tr.tr-notice {
  background-color: #f3f4f7;
}

.board-list td,
.board-list th {
  font-size: 1.7rem;
  padding: 1.5rem 1rem;
  color: #333;
  text-align: center;
  word-break: keep-all;
  border: solid 1px #ededed;
}

.board-list td:nth-child(1),
.board-list th:nth-child(1) {
  border-left: none;
}

.board-list td:last-child,
.board-list th:last-child {
  border-right: none;
}

.board-list td[aria-label="제목"],
.board-list td[aria-label="Title"] {
  color: #333;
  text-align: left;
}

.board-list td[aria-label="사업명"] a,
.board-list td[aria-label="제목"] a,
.board-list td[aria-label="Title"] a {
  font-size: 1.7rem;
  display: inline-block;
  max-width: 100%;
  color: #333;
  vertical-align: middle;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.board-list td[aria-label="첨부파일"] img,
.board-list td[aria-label="File"] img {
  width: 2.5rem;
  margin-left: 0.2rem;
}

.board-list td[aria-label="링크"] {
  white-space: normal;
  word-break: break-all;
}

.board-list td[aria-label="등록일"],
.board-list td[aria-label="Date"] {
  padding-left: 0;
  padding-right: 0;
  letter-spacing: -0.5px;
}

.board-list .comment {
  font-size: 1.2rem;
  font-weight: 300;
  color: red;
}

.board-list ._blank {
  width: 100%;
  padding: 1.0rem 0;
  font-size: 1.7rem;
  text-align: center;
  line-height: 3.5rem;
}

/* 마우스 오버 효과 */
@media (min-width:1025px) {
  .board-list>table:not(.board-form) tbody tr:has(:not(._blank)):hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    transition: all 0.3s;
  }
}

/* 공지사항/새글/비밀글 아이콘 */
.board-list .icon_notice {
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  border-radius: 100%;
  background-color: #343f5b;
  font-size: 1.3rem;
  color: #fff;
  text-align: center;
  vertical-align: middle
}

.board-list .xi-new {
  display: inline-block;
  width: 2.6rem;
  height: 2.6rem;
  line-height: 2.4rem;
  border-radius: 100%;
  background-color: #28b8af;
  text-align: center;
  margin-right: 8px;
}

.board-list .xi-new::before {
  content: "N";
  display: block;
  width: 100%;
  height: 100%;
  font-family: 'nanum-neo';
  color: #fff;
  font-weight: 900;
  font-size: 1.4rem;
}

.board-list .xi-lock {
  display: inline-block;
  width: 2.6rem;
  height: 2.6rem;
  line-height: 2.4rem;
  border-radius: 100%;
  background-color: #aaa;
  text-align: center;
  margin-right: 8px;
}

.board-list .xi-lock::before {
  content: "\eecc";
  font-family: "remixicon";
  color: #fff;
  font-size: 1.4rem;
}

.board-list td[aria-label*=Category] {
  text-align: left;
}

/* 상태(state) */
.board-list .icon {
  display: inline-block;
  min-width: 7rem;
  height: 3.2rem;
  line-height: 3.2rem;
  border-radius: 0.5rem;
  background-color: #eee;
  font-size: 1.4rem;
  color: #333;
  text-align: center;
}

.board-list .icon[data-label="접수중"],
.board-list .icon[data-label="대기"] {
  background-color: #CBD3E2;
  color: #151515;
}

/* 회색 */
.board-list .icon[data-label="처리중"],
.board-list .icon[data-label="접수"] {
  background-color: #0048C8;
  color: #fff;
}

/* 포인트1 */
.board-list .icon[data-label="처리완료"],
.board-list .icon[data-label="결과"] {
  background-color: #002361;
  color: #fff;
}

/* 포인트2 */


/* 게시판 뷰(view) ***********************************************************************************/

/* 게시판 내용 */
.board_view {
  border-top: 2px solid #555;
  font-size: 1.7rem
}

.board_view>.title {
  font-size: 2.6rem;
  text-align: center;
  padding: 3.3rem 2rem;
  font-weight: 700;
  color: #333;
  word-break: break-all;
  line-height: 3.2rem
}

.board_view>.title .category {
  display: block;
  font-size: 1.7rem;
  color: #999
}

.board_view>.title .category::before {
  display: inline-block;
  position: relative;
  top: -0.2rem;
  width: 1rem;
  height: 1rem;
  margin-right: 0.75rem;
  border-radius: 100%;
  content: '';
  vertical-align: middle
}

.board_view>.title .cateC01::before {
  background: #F6C375;
}

.board_view>.title .cateC02::before {
  background: #DF7373;
}

.board_view .info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.0rem 2.0rem;
  padding: 2.5rem 1.5rem;
  border-bottom: 1px solid #e4e4e4;
  border-top: 1px solid #e4e4e4;
  background-color: #F9F9FB;
}

.board_view .info li {
  position: relative;
  font-size: 1.7rem;
  font-weight: 400;
  color: #333;
}

.board_view .info li::after {
  content: '';
  position: absolute;
  right: -1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 1rem;
  background: #DBE0E3;
}

.board_view .info li:last-of-type::after {
  display: none;
}

.board_view .info li strong {
  margin-right: 5px;
  font-weight: 500;
}

.board_view .contents {
  padding: 4rem 0 5rem;
  border-bottom: 1px solid #ddd;
  min-height: 30rem;
  line-height: 1.6;
  word-break: break-all;
}

.board_view .contents .img {
  margin-top: 2rem
}

.board_view .contents .img+.img {
  margin-top: 1rem;
}

.board_view .txt_center {
  margin-bottom: 2rem;
}

.board_view .file {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ddd;
}

.board_view .file .title {
  flex: none;
  width: 14rem;
  padding-top: 2.0rem;
  font-weight: 700;
  color: #333;
}

.board_view .file .list {
  flex: 1;
}

.board_view .file .list li {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  min-height: 3rem;
  padding: 1.5rem 0;
  line-height: 1.6
}

.board_view .file .list li+li {
  border-top: 1px solid #E4E4E4;
}

.board_view .file .list .file_cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 0.5rem;
  margin-right: 1.0rem;
}

.board_view .file .list .file_cont img {
  width: 2.5rem;
}

.board_view .file .list .file_cont a {
  font-size: 1.7rem;
  color: #151515;
  word-break: break-word;
  transition: all 0.2s
}

.board_view .file .list .file_cont .txt {
  color: #666;
  word-break: keep-all
}

.board_view .file .list .link {
  flex: none;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
}

.board_view .file .list .link .btn_line {
  margin: 0;
}

@media (min-width:1025px) {

  .board_view .file .list .file_cont a:hover,
  .board_view .file .list li>a:focus {
    color: #3E62D9;
  }
}


/* 게시판 답변 (민원게시판) */
.board_btns+.board_reply {
  margin-top: 2rem;
  border-top: 1px solid #aaa
}

.board_reply {
  padding: 2rem 0;
  border-bottom: 1px solid #373737
}

.board_reply .replyBox {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2rem
}

.board_reply .title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #333
}

.board_reply .info li {
  display: none;
  font-size: 1.7rem
}

.board_reply .info li+li::before {
  display: inline-block;
  position: relative;
  top: -1px;
  width: 1px;
  height: 1rem;
  margin: 0 1rem;
  background-color: #DBE0E3;
  content: '';
  vertical-align: middle
}

.board_reply .info li[class] {
  display: inline
}

.board_reply .info strong {
  margin-right: 0.5rem;
  font-weight: 400;
  color: #333
}

.board_reply .info span {
  color: #777
}

.board_reply .info:last-child {
  margin-bottom: 0
}

.board_reply .contents {
  padding: 4rem;
  background-color: #FAFAFA
}

.board_reply .file {
  position: relative;
  margin: 2rem -2rem -2rem;
  padding: 1rem 2rem;
  border-top: 1px solid #f8f8f8
}

.board_reply .file .label {
  display: block;
  margin: 0.5rem 0;
  font-weight: 500;
  color: #333
}

.board_reply .file .list img {
  width: 2.5rem;
  margin-right: 0.5rem
}

.board_reply .file .list li {
  overflow: hidden;
  position: relative;
  min-height: 3rem;
  padding: 0 21rem 0 1.5rem;
  text-overflow: ellipsis;
  line-height: 3rem
}

.board_reply .file .list li::before {
  position: absolute;
  left: 0;
  top: auto;
  content: '-'
}

.board_reply .file .list li>a {
  color: #444;
  -webkit-transition: all 0.2s;
  transition: all 0.2s
}

.board_reply .file .list li>a:hover,
.board_view .file .list li>a:focus {
  color: #116eb4
}

.board_reply .file .list .link {
  position: absolute;
  right: 0;
  top: 0
}

.board_reply .file .list .txt {
  font-size: 1.2rem;
  color: #999
}

.board_reply+.board_btns {
  margin-top: 4rem;
}



/* 코멘트(댓글) 
*+.comment {
  margin-top: 5rem
}

.comment .form {
  position: relative;
  margin: 0 0 5rem;
  padding-bottom: 4.9rem;
  border: 1px solid #ddd;
  background-color: #f8f9fa;
  color: #999
}

.comment .form textarea {
  font-size: 1.5rem;
  width: 100% !important;
  max-width: 100%;
  min-height: 8.5rem;
  padding: 1.5rem;
  border: 0 none !important;
  vertical-align: top
}

.comment .form .length {
  font-size: 1.3rem;
  position: absolute;
  left: 0;
  bottom: 0;
  padding-left: 2rem;
  line-height: 5rem
}

.comment .form button {
  height: 5rem;
  border: 1px solid #555;
  line-height: 4.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.5rem;
  display: inline-block;
  min-width: 8.8rem;
  padding: 0 1rem;
  background-color: #555;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: absolute;
  right: -1px;
  bottom: -1px
}

.comment .form button:hover,
.comment .form button:focus {
  background-color: transparent;
  color: #555
}

.comment>.title {
  font-size: 1.7rem;
  font-weight: 300;
  color: #666
}

.comment>.title span {
  font-weight: 500;
  color: #116eb4
}

.comment .list {
  margin-top: 1.5rem;
  border-top: 1px solid #aaa
}

.comment .list li {
  position: relative;
  padding: 2rem;
  border-bottom: 1px solid #ddd;
  color: #767676
}

.comment .list .name {
  font-weight: 500
}

.comment .list .txt {
  display: block !important;
  width: auto !important;
  height: auto !important;
  margin-bottom: 0.5rem;
  opacity: 1 !important
}

.comment .list .date {
  font-size: 1.4rem;
  color: #999
}

.comment .list .form {
  width: 100% !important;
  margin: 1rem 0 0
}

.comment .list .re {
  padding-left: 4rem
}

.comment .list .re::before {
  position: absolute;
  top: 2.5rem;
  left: auto;
  width: 1rem;
  height: 1rem;
  margin-left: -2rem;
  border-left: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  content: ''
}

.comment .list .btn {
  position: absolute;
  right: 2rem;
  top: 2rem;
  font-size: 1.4rem;
  color: #333
}

.comment .list .btn a+a::before {
  display: inline-block;
  position: relative;
  top: -1px;
  width: 1px;
  height: 1.3rem;
  margin: 0 1rem 0 0.75rem;
  background-color: #ddd;
  content: '';
  vertical-align: middle
}

.comment .list .btn_reply {
  height: 3rem;
  border: 1px solid #ddd;
  line-height: 2.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.4rem;
  display: inline-block;
  min-width: 7rem;
  margin-top: 1rem;
  padding: 0 1rem;
  background-color: #fff;
  color: #666;
  text-align: center;
  vertical-align: middle;
  -webkit-transition: all 0.2s;
  transition: all 0.2s
}

.comment .list .btn_reply:hover,
.comment .btn_reply:focus {
  border-color: #333;
  background-color: #333;
  color: #fff
}
*/

/* 답변 */
.answer-box {
  border: 1px solid #ddd;
  border-radius: .5rem;
  padding: 2rem 2rem 1.5rem;
  margin: 3rem 0 0 0;
  position: relative
}

.answer-box .a {
  display: inline-block;
  font-size: 1.3rem;
  color: #fff;
  width: 4rem;
  height: 4rem;
  text-align: center;
  position: relative;
  line-height: 3.2
}

.answer-box .a:after {
  content: '';
  background-color: #2c3b66;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1
}

.answer-box .info {
  display: inline-block;
  margin-left: 1rem
}

.answer-box .info li {
  display: inline-block;
  font-size: 1.5rem;
  margin-right: 1rem
}

.answer-box .info li strong {
  color: #777;
  font-weight: normal;
  margin-right: .5rem
}

.answer-box .contents {
  background-color: #f7f7f7;
  border-radius: .5rem;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  margin: 1rem 0 0
}

.answer-box .btn {
  color: #666;
  font-size: 1.3rem;
  position: absolute;
  right: 2rem;
  top: 3.5rem
}

.answer-box .btn:hover {
  color: #f15321
}

.answer-box .file {
  position: relative;
  line-height: 0
}

.answer-box .file .title {
  display: inline-block;
  vertical-align: top;
  width: 14.5rem;
  font-weight: 500;
  color: #333;
  text-align: center
}

.answer-box .file .list {
  display: inline-block;
  width: 100%
}

.answer-box .file .list img {
  width: 2.5rem;
  margin-right: 0.5rem
}

.answer-box .file .list li {
  overflow: hidden;
  position: relative;
  min-height: 3rem;
  padding-right: 21rem;
  text-overflow: ellipsis;
  white-space: nowrap
}

.answer-box .file .list li:first-child {
  margin-top: 1.5rem
}

.answer-box .file .list li+li {
  margin-top: 0.5rem;
}

.answer-box .file .list li>a {
  color: #444;
  -webkit-transition: all 0.2s;
  transition: all 0.2s
}

.answer-box .file .list li>a:hover,
.answer-box .file .list li>a:focus {
  color: #116eb4
}

.answer-box .file .list .link {
  position: absolute;
  right: 0;
  top: 0
}

.answer-box .file .list .txt {
  font-size: 1.2rem;
  color: #999
}


/* 이전/다음 글 */
.prevnext {
  margin-top: 4rem;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  font-size: 1.7rem
}

.prevnext li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 0;
  color: #333;
}

.prevnext li+li {
  border-top: 1px solid #E4E4E4;
}

.prevnext li::before {
  display: none;
}

.prevnext li span {
  width: 12.0rem;
  font-weight: 500;
}

.prevnext li span.date {
  width: inherit;
  margin-left: auto;
  font-size: 1.4rem;
  text-align: right;
}

.prevnext li span::before {
  font-family: "remixicon";
  margin-right: 0.3rem;
}

.prevnext li.prev span::before {
  content: '\ea78';
}

.prevnext li.next span::before {
  content: '\ea4e';
}

.prevnext li span.date::before {
  display: none;
}

.prevnext li a {
  margin-right: 1.0rem;
  font-size: 1.7rem;
  letter-spacing: -0.05rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all 0.3s;
}

@media (min-width:1024px) {
  .prevnext a:hover {
    text-decoration: underline;
    color: #555;
  }
}

/* 하단 버튼 (보기/폼 공용) */
.board_view+.board_btns {
  margin-top: 4.0rem;
}

.prevnext+.board_btns {
  margin-top: 4.0rem;
}

.privacy_agree+.board_btns {
  margin-top: 4.0rem;
}

.board_btns {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.board_btns .btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 13rem;
  height: 5.0rem;
  margin: 0.3rem;
  padding: 0 0.5rem;
  background: #1B2539;
  border: 1px solid #1B2539;
  font-weight: 500;
  font-size: 1.7rem;
  color: #fff;
  transition: all 0.2s;
  box-sizing: border-box;
}

.board_btns .btn.type {
  height: 5.0rem;
}

.board_btns .btn.type1 {
  border: 1px solid #999;
  background: #fff !important;
  color: #333 !important;
}

.board_btns .btn.type2 {
  border: 1px solid #333;
  background: #333;
  color: #fff
}

.board_btns .btn.type3 {
  border: 1px solid var(--primary);
  background: var(--primary);
  color: #fff
}

.board_btns .btn.long {
  width: 20rem;
}

.board_btns .btn+.txt {
  width: 100%;
  margin: 4rem 0 0;
  padding: 2rem 0;
  background-color: #F3F5FA;
  font-size: 1.4rem;
  text-align: center;
  color: #151515;
  border-radius: 0.8rem;
}

@media (min-width:1025px) {
  .board_btns .btn:hover {
    border-color: var(--primary);
    background-color: var(--primary);
    color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0 6px #00000029;
  }

  .board_btns .btn.type1:hover {
    border-color: #000;
  }

  .board_btns .btn.type2:hover {
    border: 1px solid #333;
    background-color: #fff;
    color: #333
  }

  .board_btns .btn.type3:hover {
    border-color: #4A6A9B;
    background-color: #4A6A9B;
  }
}

/* 연관 게시글/유사 콘텐츠 */
#dataSimilar {}

#dataSimilar .similar_slide {
  margin-top: 5rem;
}

#dataSimilar .similar_slide .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.0rem;
}

#dataSimilar .similar_slide .top .title {
  display: block;
  font-size: 2.4rem;
  font-weight: 700;
}

#dataSimilar .similar_slide .top .ctrl {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#dataSimilar .similar_slide .top .ctrl .btn_ctrl {
  font-size: 0;
}

#dataSimilar .similar_slide .top .ctrl .btn_ctrl::before {
  font-family: "remixicon";
  font-size: 1.8rem;
  font-weight: 800;
}

#dataSimilar .similar_slide .top .ctrl .btn_ctrl.prev::before {
  content: "\ea60";
}

#dataSimilar .similar_slide .top .ctrl .btn_ctrl.next::before {
  content: "\ea6c";
}

#dataSimilar .similar_slide .top .ctrl .paging {
  min-width: 60px;
  height: inherit;
  margin: 0 5px;
  text-align: center;
}

#dataSimilar .similar_slide .top .ctrl .paging span {
  margin: 0 3px;
  color: #151515;
}

#dataSimilar .similar_slide .slick-list {
  margin: 0 -1.5rem;
  padding: 1.0rem 0;
}

#dataSimilar .similar_slide .slick-track {}

#dataSimilar .similar_slide .slick-slide {
  margin: 0 1.5rem;
}

#dataSimilar .similar_slide .link_box {
  display: block;
  height: 100%;
  padding: 3.0rem 3.0rem 2.5rem;
  border: 1px solid #DDD;
  box-sizing: border-box;
  transition: all 0.2s;
}

#dataSimilar .similar_slide .link_box .cate {
  display: block;
  margin-bottom: 1.0rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: #767676;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#dataSimilar .similar_slide .link_box .tt {
  height: 10.0rem;
  margin-bottom: 2rem;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: -0.05em;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

#dataSimilar .similar_slide .link_box .date {
  display: none;
}

#dataSimilar .similar_slide .link_box .percente {
  color: #0048C8;
}

#dataSimilar .similar_slide .link_box .percente::before {
  content: "유사율";
  display: block;
  font-size: 1.4rem;
  color: #767676;
  line-height: 1.2;
}

@media (min-width:1025px) {
  #dataSimilar .similar_slide .link_box:hover {
    box-shadow: 0px 3px 6px #00000029;
  }
}



/* 게시판 입력/수정(form) ***********************************************************************************/

/*board 폼*/
.board-form {
  border-top: solid 2px #454b56;
  border-bottom: solid 1px #dcdcdc;
  margin-bottom: 2rem;
}

.board-form table {
  width: 100%;
  table-layout: fixed
}

.board-form tr {
  border-bottom: 1px solid #ddd
}

.board-form tr:last-child {
  border-bottom: 0
}

.board-form th {
  padding: 1rem;
  padding-left: 4.5rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.4;
  color: #333;
  text-align: left;
}

.board-form th:has(.point11) {
  padding-left: 2.5rem;
}

.board-form th span.point11 {
  display: inline-block;
  width: 2.0rem;
  font-size: 1.5rem;
  font-weight: 400;
}

.board-form td {
  font-size: 1.5rem;
  padding: 1rem;
  text-align: left;
  word-break: keep-all
}

.board-form td.with {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.board-form td.with .form_textbox {
  flex: 1;
}

.board-form td .i-info.diInB {
  height: 4rem;
  line-height: 4rem;
  margin-left: 1rem;
  margin-top: 0
}

.board-form td .i-info::after {
  top: 1.5rem
}

.board-form td .form_select select {
  height: 4.6rem
}

.board-form td .form_textbox+p {
  margin-top: 1.0rem;
}

.board-form td .form_radio label {
  line-height: 4.6rem;
}

.board-form td .btn_line {
  height: 4.6rem;
  line-height: 4.6rem;
  box-sizing: border-box;
}

/* 게시판 내용 파일 */
.board-form .file {
  position: relative;
  padding: 1rem 0
}

.board-form .file .title {
  display: inline-block;
  vertical-align: top;
  line-height: 4rem;
  width: 14.5rem;
  font-weight: 500;
  color: #333;
  text-align: center
}

.board-form .file .list {
  display: inline-block;
  width: 100%
}

.board-form .file .list img {
  width: 2.5rem;
  margin-right: 0.5rem
}

.board-form .file .list li {
  position: relative;
  /*{overflow:hidden;  min-height:3rem;*/
  line-height: 1.4;
  padding: .3rem 21rem .3rem 0
}

.board-form .file .list li+li {
  margin-top: 0.5rem;
}

.board-form .file .list li>a {
  color: #444;
  -webkit-transition: all 0.2s;
  transition: all 0.2s
}

.board-form .file .list li>a:hover,
.board-form .file .list li>a:focus {
  color: #116eb4
}

.board-form .file .list .link {
  position: absolute;
  right: 0;
  top: 0
}

.board-form .file .list .txt {
  font-size: 1.2rem;
  color: #999
}

.board-form .file .btn_del {
  display: inline-block;
  font-size: 0;
  vertical-align: middle;
}

.board-form .file .btn_del:before {
  content: 'x';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background: #999;
  font-size: 1.5rem;
  color: #fff;
  border-radius: 100%;
}

/*자동입력방지*/
.captcha {}

.captcha .img {
  width: 10rem;
  height: 4.6rem;
  margin-right: 1rem;
}

.captcha .img img {
  display: block;
  width: 100%;
  height: 100%;
}

.captcha .btn {
  display: flex;
  gap: 0.1rem;
  align-items: center;
  margin-right: 1rem;
  font-size: 1.7rem;
}

.captcha .btn::before {
  font-family: "remixicon";
}

.captcha .btn.refresh::before {
  content: "\f064";
}

.captcha .btn.audio::before {
  content: "\f29b";
}

.captcha .form_textbox {
  max-width: 29rem;
}

@media (max-width:1025px) {
  .board-form td.captcha .form_textbox {
    flex: none;
    max-width: 100%;
  }
}

@media (max-width: 780px) {
  .board-form table {
    display: flex;
    flex-direction: column;
  }

  .board-form table tr {
    display: flex;
    flex-direction: column;
  }

  .board-form th .eng.small {
    display: none;
  }
}



/* 비밀번호 확인 **********************************************************************************************************************************************************************/

/* 비밀번호 확인 */
#questPW {
  padding: 6rem 3rem;
  border: 1px solid #CBD3E2;
  text-align: center;
}

#questPW .desc {}

#questPW .desc .title {
  display: block;
  margin-bottom: 3.0rem;
  font-size: 2.4rem;
  font-weight: 700;
}

#questPW .desc .icon {
  display: none;
}

#questPW .desc .con {
  margin-bottom: 2.0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7;
  word-break: keep-all;
}

#questPW .desc .form {
  max-width: 38rem;
  margin: 0 auto;
}

#questPW .desc .form input {
  width: 100%;
  font-size: 1.7rem;
}

#questPW .desc .board_btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 38rem;
  margin: 3.0rem auto 0;
  gap: 0 0.5rem;
}

#questPW .desc .board_btns .btn {
  width: 14.5rem;
  font-size: 1.5rem;
}

#questPW .i-info {
  display: inline-block;
  font-size: 1.4rem;
  margin-top: 1rem;
}


/*-------------------------------------------------

Responsive

-------------------------------------------------*/

/* Media Query */
@media all and (max-width:1300px) {

  /* 게시판 입력/수정(form) ***********************************************************************************/

  /*board 폼*/
  .board-form th {
    padding-left: 3.0rem;
    padding-right: 0.5rem;
    font-size: 1.7rem;
  }

  .board-form th:has(.point11) {
    padding-left: 1rem;
  }
}

@media all and (max-width:1024px) {

  /* 목록 공통 ***********************************************************************************/

  /* board_info - 조직도 */
  .board_info.organization_info .form {
    padding: 2.0rem;
    flex-wrap: wrap;
  }

  .board_info.organization_info .form .item.select {
    width: calc(50% - 0.25rem);
  }

  .board_info.organization_info .form .item.type1 {
    width: calc(100% - 9.5rem);
  }

  .board_info.organization_info .form_textbox {
    width: 100%;
  }


  /* 게시판 목록(list) ***********************************************************************************/

  /* 테이블형 */
  .board-list tr {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 1rem;
    padding: 1.6rem 1rem;
    position: relative
  }

  .board-list tr:last-child {
    border-bottom: 0;
  }

  .board-list colgroup,
  .board-list thead {
    display: none
  }

  .board-list td {
    display: block;
    padding: 0;
    border: 0 none;
    text-align: left;
    line-height: 1.5;
    height: auto
  }

  /* 게시판 목록 */
  .board-list ._blank {
    display: block;
    padding: 10rem 0 !important;
    text-align: center
  }

  .board-list td {
    display: block;
    height: auto;
    /*    font-size: 1.4rem;*/
    color: #767676;
    vertical-align: top;
    letter-spacing: -0.5px;
  }

  .board-list td[aria-label="번호"],
  .board-list td[aria-label*="No"] {
    display: none;
  }

  .board-list td[aria-label="분류"],
  .board-list td[aria-label="Category"] {
    color: #3241AB;
  }

  .board-list td[aria-label="제목"],
  .board-list td[aria-label="Title"] {
    width: 100%;
    color: #000;
    margin-bottom: 0.8rem;
  }

  .board-list td[aria-label="공표대상"] {
    order: -1;
    width: 100%;
    color: #000;
    margin-bottom: 0.8rem;
  }

  .board-list td[aria-label="첨부파일"] img,
  .board-list td[aria-label="File"] img {
    width: 1.8rem
  }

  .board-list td[aria-label="처리상태"] {
    margin-left: auto;
  }

  .board-list td[aria-label="번호"]::before,
  .board-list td[aria-label*="No"]::before,
  .board-list td[aria-label="작성일"]::before,
  .board-list td[aria-label="처리상태"]::before {
    display: none
  }

  .board-list td[aria-label="조회수"],
  .board-list td[aria-label="Hit"] {
    display: none
  }

  .board-list .tstyle_write td::before {
    content: none
  }

  .board-list td[aria-label="분류"]:before,
  .board-list td[aria-label="Category"]:before,
  .board-list td[aria-label="작성자"]:before,
  .board-list td[aria-label="첨부파일"]:before,
  .board-list td[aria-label="File"]:before,
  .board-list td[aria-label="등록일"]:before,
  .board-list td[aria-label="Date"]:before,
  .board-list td[aria-label="링크"]:before,
  .board-list td[aria-label="공표대상"]:before,
  .board-list td[aria-label="공표부서"]:before,
  .board-list td[aria-label="공표주기"]:before,
  .board-list td[aria-label="공표시기"]:before,
  .board-list td[aria-label="공표방법"]:before,
  .board-list td[aria-label="자료명"]:before,
  .board-list td[aria-label="자료"]:before,
  .board-list td[aria-label="담당부서"]:before,
  .board-list td[aria-label="제목"]:before,
  .board-list td[aria-label="Title"]:before {
    display: none
  }

  .board-list td:after {
    display: none !important;
    content: '';
    background-color: #ccc;
    border-radius: 100rem;
    width: .4rem;
    height: .4rem;
    display: inline-block;
    vertical-align: middle;
    margin: 0 .6rem 0 .8rem
  }

  .board-list td:last-child:after,
  .board-list td[aria-label="분류"]:after,
  .board-list td[aria-label="Category"]:after {
    display: none;
  }

  .board-list td[aria-label="제목"]:after,
  .board-list td[aria-label="Title"]:after {
    display: none;
  }

  .board-list td[aria-label="제목"] a,
  .board-list td[aria-label="Title"] a {
    position: relative;
    font-size: 1.9rem;
    font-weight: 700;
  }

  .board-list td[aria-label="제목"] a .answer,
  .board-list td[aria-label="Title"] a .answer {
    position: absolute;
    right: 0
  }

  .board-list td[aria-label="공표대상"] a {
    position: relative;
    font-size: 1.9rem;
    font-weight: 700;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .board-list .tr-notice td[aria-label="번호"],
  .board-list .tr-notice td[aria-label*="No"] {
    display: none;
  }

  .board-list td.txt_left[aria-label="제목"] span,
  .board-list td.txt_left[aria-label="Title"] span {
    font-size: 1.4rem
  }

  .board-list td[aria-label="작성자"],
  .board-list td[aria-label="작성일"],
  .board-list td[aria-label="등록일"],
  .board-list td[aria-label="Date"],
  .board-list td[aria-label="첨부파일"],
  .board-list td[aria-label="File"] {
    display: inline-block;
  }

  .board-list td.captcha::before {
    display: none
  }

  /* 게시판 목록 아이콘 */
  .board-list .xi-new {
    display: none;
  }

  /* 조직도 목록 */
  .board-list.organization_list {
    border: none;
  }

  .board-list.organization_list tr {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 3.0rem;
    border-top: 2px solid #454B56;
    margin-bottom: 2rem;
  }

  .board-list.organization_list tr:last-child {
    border-bottom: 1px solid #ddd;
  }

  .board-list.organization_list td {
    padding: 0.5rem 0;
    font-size: 1.7rem;
    font-weight: 400;
    color: #151515;
  }

  .board-list.organization_list td[aria-label="부서"] {
    padding-bottom: 1rem;
  }

  .board-list.organization_list td[aria-label="성명"] {
    padding-bottom: 1rem;
    font-size: 2.0rem;
    font-weight: 700;
  }

  .board-list.organization_list td[aria-label="직위"],
  .board-list.organization_list td[aria-label="담당업무"],
  .board-list.organization_list td[aria-label="연락처"] {
    display: flex;
  }

  .board-list.organization_list td[aria-label="직위"]::before,
  .board-list.organization_list td[aria-label="담당업무"]::before,
  .board-list.organization_list td[aria-label="연락처"]::before {
    content: attr(aria-label);
    flex: none;
    width: 7.5rem;
    font-weight: 600;
  }

  /* 사전정보목록 */
  .board-list.openinfo td[aria-label="제목"],
  .board-list.openinfo td[aria-label="Title"] {
    order: -1;
    font-size: 1.9rem;
    font-weight: 600;
  }

  .board-list.openinfo td[aria-label="자료"] {
    position: absolute;
    right: 0;
    bottom: 1.5rem;
  }

  /* 페이징 */
  .board_pager a {
    display: none;
  }

  .board_pager a.nav {
    display: flex;
  }

  .board_pager a.on,
  .board_pager a.total {
    display: inline-flex;
    width: inherit;
    border-color: transparent;
    background: none;
    color: #151515;
  }

  .board_pager a.on::after {
    content: "/";
    font-weight: 300;
    margin-left: 0.5rem;
  }

  .board_pager a.on {
    margin-left: 1rem;
  }

  .board_pager a.total {
    margin-right: 1rem;
  }


  /* 게시판 내용 정보 */
  .board_view>.title {
    padding: 2.4rem 0;
    text-align: left;
  }

  .board_view .info {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem 0;
    padding: 2.0rem;
    border: none;
  }

  .board_view .info li {
    box-sizing: border-box;
  }

  .board_view .info li:nth-child(2n-1) {
    flex-basis: 30%;
  }

  .board_view .info li:nth-child(2n) {
    flex-basis: 70%;
    padding-left: 1.0rem;
  }

  .board_view .info li::after {
    display: none;
  }

  .board_view .info li strong {
    font-weight: 500;
  }

  /* 게시판 내용보기 파일 */
  .board_view .file .title {
    width: 12rem;
  }

  /* 비밀번호 확인*/
  #questPW .desc .con {
    font-size: 1.7rem;
  }

  #questPW .desc .form input {
    max-width: 30rem;
  }

  #questPW .desc .board_btns {
    max-width: 30rem;
  }

  #questPW .desc .board_btns .btn {
    flex: 1;
  }


  /* 게시판 답변 */
  .board_reply {
    padding: 1.5rem 0
  }

  .board_reply .file {
    margin: 1.5rem 0 -1.5rem;
    padding: 1rem 0
  }

  /* 게시판 답변상황 */
  .board_state .form ul {
    display: block;
    margin: 0
  }

  .board_state .form li {
    display: block;
    margin-bottom: 0.5rem
  }

  .board_state .form li+li::before {
    display: none
  }

  .board_state .form label {
    float: left;
    width: 7rem;
    margin: 0
  }

  .board_state .form .btn {
    width: 15rem;
    margin: 1rem 0 0 7rem
  }

  /* 게시판 코멘트 */
  .comment .list li {
    padding: 1.5rem 0;
  }

  .comment .list .btn {
    right: 0.5rem;
    top: 1rem;
  }

  .comment .list .re {
    padding-left: 2rem;
  }

  /*직원연락처*/
  .board-list.scroll {
    overflow-x: scroll;
    position: relative
  }

  /*.board-list.scroll:before {content:' 좌우로 움직여주세요 '; background-color:rgba(0,0,0,0.5); color:#fff; font-family:'xeicon'; width:120%; height:5rem; text-align:center; line-height:5rem; position:absolute; left:50%; top:0; transform:translateX(-50%); z-index:1; animation:move 3s alternate ease-in-out forwards}*/
  .board-list.scroll table {
    min-width: 120rem
  }

  .board-list.scroll colgroup {
    display: table-column-group
  }

  .board-list.scroll thead {
    display: table-header-group
  }

  .board-list.scroll tr {
    display: table-row;
    padding: 0;
    border-bottom: 0
  }

  .board-list.scroll td {
    display: table-cell;
    border-bottom: 1px solid #ddd;
    padding: 1rem 0;
    text-align: center;
    vertical-align: inherit
  }

  .board-list.scroll td:after {
    display: none
  }


  /* 게시판 뷰(view) ***********************************************************************************/

  /* 연관 게시글/유사 콘텐츠 */
  #dataSimilar .similar_slide {
    padding: 3.0rem 0 2.5rem
  }

  #dataSimilar .similar_slide .top {
    margin-bottom: 0;
  }

  #dataSimilar .similar_slide .top .title {
    font-size: 2.0rem;
  }

  #dataSimilar .similar_slide .top .ctrl .paging {
    min-width: 50px;
    margin: 0 3px;
  }

  #dataSimilar .similar_slide .top .ctrl .paging span {
    margin: 0 1px;
  }

  #dataSimilar .similar_slide .slick-list {
    margin: 0 -1.0rem;
  }

  #dataSimilar .similar_slide .slick-slide {
    margin: 0 1.0rem;
  }

  #dataSimilar .similar_slide .link_box {
    padding: 2.0rem;
  }

  #dataSimilar .similar_slide .link_box .cate {
    margin-bottom: 1.0rem;
  }

  #dataSimilar .similar_slide .link_box .tt {
    height: 5.0rem;
    margin-bottom: 1.5rem;
    line-height: 1.5;
    -webkit-line-clamp: 2;
  }

  #dataSimilar .similar_slide .link_box .date {
    font-size: 1.4rem;
  }


  /* 게시판 입력/수정(form) ***********************************************************************************/

  /*board 폼*/
  .board-form tr {
    padding: 1.6rem 0;
  }

  .board-form th {
    width: 100%;
    margin-bottom: 1.0rem;
    padding: 0;
    font-size: 1.7rem;
    font-weight: 600;
  }

  .board-form th:has(.point11) {
    padding: 0;
  }

  .board-form th span.point11 {
    display: inline;
    width: inherit;
    margin-right: 0;
  }

  .board-form td {
    width: 100%;
    padding: 0;
  }

  .board-form td .form_radio+.form_radio {
    margin-left: 2.0rem;
  }
}

@media all and (max-width:768px) {

  .captcha .desc .btn {
    height: 3rem
  }

  .captcha .desc input {
    height: 4rem
  }

  /* 게시판 목록(list) ***********************************************************************************/

  /* 게시판 목록 정보 */
  .board_info {
    margin-bottom: 3rem;
    flex-direction: column;
    gap: 1rem;
  }

  .board_info .page_info,
  .board_info form {
    float: none;
    width: 100%;
  }

  .board_info .form {
    width: 100%;
    display: flex;
    border: 1px solid #CED6DC;
  }

  .board_info .form_textbox {
    border: none;
  }

  .board_info .form .item {
    display: none
  }

  .board_info .form .item.type1 {
    display: block;
    flex: 1
  }

  .board_info .form .btn {
    display: flex;
    border-radius: 0;
  }

  .board_info .form .btn span {
    flex: 1
  }

  .board_info .form .btn button {
    background: none;
  }

  .board_info .form .btn button::before {
    color: #151515;
  }

  .board_info .form .btn .write {
    width: calc(100% - 0.5rem) !important
  }

  .board_info .form_textbox.hasDatepicker {
    width: calc(50% - 1rem)
  }

  .board_info .form.type-block .select-group .form_select {
    display: block;
    margin: 0.1rem 0
  }

  .board_info .form #news_search_form {
    width: 100%;
    display: block;
    padding-right: 0
  }

  .board_info .form #news_day_form {
    width: 100%;
    display: block;
    padding-right: 0
  }

  .board_info .form #news_day_form>span {
    width: calc(50% - 0.7rem) !important
  }

  .board_info .page {
    display: none;
  }

  /* 조직도에서 검색영역 */
  .board_info.organization_info .form {
    padding: 2.0rem;
    flex-wrap: wrap;
  }

  .board_info.organization_info .form .item.select {
    display: block;
  }

  .board_info.organization_info .form .item.type1 {
    width: calc(100% - 5.5rem);
  }

  .board_info.organization_info .form_textbox {
    border: 1px solid #ddd;
  }

  .board_info.organization_info .form .btn-group .btn button {
    width: 5rem;
    background: #292A30;
  }

  .board_info.organization_info .form .btn-group .btn button::before {
    color: #fff;
  }


  /* 게시판 뷰(view) ***********************************************************************************/

  /* 게시판 내용 */
  .board_view>.title {
    font-size: 2.2rem;
  }

  .board_view .info li {
    font-size: 1.4rem;
  }

  /* 게시판 내용 파일 */
  .board_view .file {
    padding: 0;
  }

  .board_view .file .title {
    display: none;
  }

  .board_view .file .list li {
    flex-direction: column;
    align-items: flex-start;
  }

  .board_view .file .list .file_cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 0.5rem;
    margin-right: 1.0rem;
  }

  .board_view .file .list .file_cont img {
    display: none;
  }

  .board_view .file .list .file_cont .txt {
    font-size: 1.4rem;
  }

  .board_view .file .list .link {
    justify-content: flex-end;
    gap: 0.8rem;
    flex-wrap: wrap;
  }

  .board_view .file .list .link .btn_line {
    margin: 0;
    border-color: #E8E8E8;
    background: #E8E8E8;
    font-size: 1.4rem;
  }

  /* 게시판 이전글 다음글 */
  .prevnext {
    font-size: 1.5rem;
  }

  .prevnext li {
    padding: 1.5rem 0;
  }

  .prevnext li span {
    flex: none;
    width: 8rem;
    margin-right: 0.5rem;
  }

  .prevnext li span.date {
    width: inherit;
    margin-right: 0;
    font-size: 1.3rem;
  }

  .prevnext li span::before {
    width: 2.5rem;
  }

  .prevnext li a {
    font-size: 1.5rem;
  }

  /* 하단 버튼 */
  .board_btns .btn {
    font-size: 1.4rem;
  }

  /* 게시판 답변 */
  .board_reply .info li[class] {
    display: block
  }

  .board_reply .info li+li::before {
    display: none
  }

  .board_reply .file .list li {
    padding-right: 10rem
  }

  .board_reply .file .list .link a[target="_blank"] {
    display: none
  }

  /* 게시판 답변상황 */
  .board_state {
    margin-top: 2rem;
    padding: 1.5rem
  }

  .board_state::before {
    display: block;
    position: static;
    margin-bottom: 0.5rem
  }

  .board_state li {
    display: block
  }

  .board_state li+li::before {
    display: none
  }

  /* 게시판 코멘트 */
  .comment .form {
    margin: 2rem 0;
  }
}

@media all and (max-width:480px) {

  /* 게시판 목록(list) ***********************************************************************************/

  /* 조직도에서 검색영역 */
  .board_info.organization_info .form .item.type1 {
    width: 100%;
  }

  .board_info.organization_info .form .btn-group {
    display: block;
    width: 100%;
  }

  .board_info.organization_info .form .btn-group .btn button {
    width: 100%;
  }

  /*board 기본 틀*/
  .board-list .tstyle_write .form_mail .form_textbox {
    display: block;
    width: 100%;
  }

  .board-list .tstyle_write .form_mail .form_textbox+.form_textbox {
    float: right;
    width: calc(100% - 2rem);
    margin: 0.25rem 0;
  }

  .board-list .tstyle_write .form_mail .form_select {
    display: block;
    clear: both;
    width: 100%;
  }


  /* 게시판 뷰(view) ***********************************************************************************/

  /* 게시판 내용 */
  .board_view>.title {
    padding: 2.2rem 0;
  }

  .board_view .info {
    gap: 0.3rem 0;
    padding: 1.5rem;
  }

  .board_view .info li:nth-child(2n-1) {
    flex-basis: 35%;
  }

  .board_view .info li:nth-child(2n) {
    flex-basis: 65%;
    padding-left: 0.5rem;
  }
}


/* board_view type2 */
.board_view.type2 {
  /* background-color: #fafafa; */
  border-top: none;
  /*
  background: linear-gradient(180deg, #f2f7ff, transparent);
  border-top: solid 1px #d1def4;
  */
  padding: 0 4rem;
}

.board_view.type2 .edu {
  background-color: #fff;
  margin-top: 1rem;
}

.board_view.type2 .detail .dep02 {
  font-size: 2.4rem;
  font-weight: 600;
  text-align: center;
}

.board_view.type2 .detail .dep03 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #666;
  text-align: center;
}

.board_view.type2 .board_list .depth03 {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 1rem;
  border: solid 1px #ededed;
  box-shadow: 0 3px 7px rgba(100, 100, 100, .05);
  border-top-color: #aaa;
}

.board_view.type2 .board_list {
  padding-bottom: 4rem;
}

.board_view.type2 .board_list .depth03 li {
  border-bottom: dashed 1px var(--border-color);
  padding: 1rem;
}

.board_view.type2 .board_list .depth03 li:last-child {
  border-bottom: none;
}

.board_view.type2 .board_list .depth03 li strong {
  font-weight: 700;
  margin-right: 2rem;
  white-space: nowrap;
}

.board_view.type2 .board_list .depth03 li strong::before {
  content: '';
  display: inline-block;
  width: 3px;
  height: 3px;
  background-color: #333;
  margin-right: 5px;
  vertical-align: middle;
}

.board_view.type2 .board-list {
  border-top: solid 1px #666;
  border-bottom: none;
}

.board_view.type2 .board-list thead th {
  border-color: #dcdcdd;
}

@media (max-width:1280px) {
  .board_view.type2 {
    padding: 0;
  }
}

/* faq */
.faq {
  display: flex;
  flex-direction: column;
  border-top: 2px solid #454B56;
}

.faq .label {
  display: flex;
  padding: 2rem 1.5rem;
  gap: 1rem;
  border-bottom: solid 1px var(--border-color);
  align-items: center;
  font-weight: 500;
  transition: all .3s ease-out 0s;
}

.faq .label .title {
  flex-grow: 1;
}

.faq .label::after {
  content: "\ea4e";
  font-family: "remixicon";
  font-size: 2.2rem;
}

.faq .active .label::after {
  transform: rotate(180deg);
}

.faq .label::before {
  content: "Q";
  font-weight: 700;
  font-size: 1.2em;
  background-color: var(--dark-bg);
  color: #fff;
  width: 1.4em;
  height: 1.4em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s ease-out 0s;
}

.faq .active .label::before {
  background-color: var(--primary);
}

.faq .label:hover::before {
  background-color: var(--primary);
}

.faq .item {
  padding: 2rem 4rem;
  border-bottom: solid 1px var(--border-color);
  background: rgba(47, 106, 255, 0.02);
  line-height: 1.5;
  font-size: 0.95em;
  display: none;
}

/* form 수정 */
.form_tel,
.form_mail {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.form_tel span,
.form_tel select,
.form_tel input[type=text],
.form_mail span,
.form_mail select,
.form_mail input[type=text] {
  flex-basis: 100%;
  flex-grow: 1;
}

.input-disable {
  display: inline-flex;
  align-items: center;
  background-color: #fafafa;
  border-radius: var(--form-rd1);
  padding-left: 1rem;
  padding-right: 1rem;
  height: 4.6rem;
  border: 1px solid rgba(0, 0, 0, 0.16);
  width: 100%;
}