@charset "utf-8";

body.hdn-scroll {
  height: 100vh;
  overflow-y: hidden;
}

.header {
  position: fixed;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.section-swiper.swiper-vertical {
  width: 100%;
  height: 100vh;
}

.visual-section {
  height: 100vh;
  position: relative;
  min-height: 80rem;
}

.visual-section .slogan {
  font-size: 4em;
  color: #fff;
  font-weight: 500;
  padding-bottom: 20rem;
}

.section-swiper.fix .visual-section {
  height: 50rem;
}

.section-swiper.fix .visual-section .slogan {
  font-size: 3em;
}

.visual-section .slogan .small {
  font-size: .45em;
  font-weight: 100;
  margin-bottom: 1em;
}

.visual-section .swiper,
.visual-section .swiper-wrapper,
.visual-section .swiper-slide {
  height: 100%;
}

.visual-section .swiper-slide {
  background: url(../images/visual_img_01.jpg) no-repeat 0 50%;
  background-size: cover;
  display: flex;
  align-items: center;
}

.visual-section .swiper-slide:nth-child(2) {
  background-image: url(../images/visual_img_02.jpg);
}

.visual-section .swiper-slide:nth-child(3) {
  background-image: url(../images/visual_img_03.jpg);
}

.visual-section .swiper-slide:nth-child(4) {
  background-image: url(../images/visual_img_04.jpg);
}

.visual-section .links {
  position: absolute;
  left: 50%;
  bottom: 10rem;
  z-index: 2;
  transform: translateX(-50%);
}

.visual-section .links ul {
  display: flex;
  gap: 2rem;
}

.visual-section .links ul li {
  flex-grow: 1;
}

.visual-section .links ul li a {
  display: flex;
  padding: var(--padding);
  border-radius: 1.2rem;
  color: #fff;
  font-size: 1.5em;
  font-weight: 500;
  gap: 1rem;
  position: relative;
  --padding: calc(var(--font-root)*5) calc(var(--font-root)*4.2);
}

.visual-section .links ul li a.secondary {
  background: linear-gradient(90deg, var(--color-secondary) 0%, var(--bg) 100%);
  --bg: color-mix(in oklab,
    var(--color-secondary, var(--color-base-200)),
    #000 7%);
}

.visual-section .links ul li a.primay {
  background: linear-gradient(90deg, var(--color-primary) 0%, var(--bg) 100%);
  --bg: color-mix(in oklab,
    var(--color-primary, var(--color-base-200)),
    #000 7%);
}

.visual-section .links ul li a .icon,
.visual-section .links ul li a::after {
  display: block;
  width: 2.5em;
  aspect-ratio: 1/1;
  background: url(../images/main_icon_01.svg) no-repeat 50% 50%;
  background-size: contain;
}

.visual-section .links ul li a .icon.i2 {
  background-image: url(../images/main_icon_02.svg);
}

.visual-section .links ul li a::after {
  content: '';
  background-image: url(../images/main_icon_arrow1.svg);
  position: absolute;
  right: 4.2rem;
  transition: all .5s ease-in-out 0s;
}

.visual-section .links ul li:nth-child(2) a::after {
  background-image: url(../images/main_icon_arrow2.svg);
}

.visual-section .links ul li a:hover::after {
  transform: translateX(10px);
}

.section-swiper.fix .notice-section {
  padding: 2rem 0 0;
}

.section-swiper.fix .notice-section .group {
  margin-bottom: 10rem;
}

@media (max-width: 1920px) {
  .section-swiper.fix .visual-section .slogan {
    padding-left: 10rem;
  }
}

@media (max-width:1630px) {
  .visual-section .pagination {
    display: none;
  }
}

@media (max-width:1280px) {
  .visual-section .links ul {
    font-size: 14px;
  }

  .visual-section .links ul li a {
    --padding: 4cqmin;
  }
}

@media (max-width:980px) {
  .section-swiper.fix .visual-section {
    height: auto;
    display: block;
    min-height: auto;
    padding-top: 4rem;
  }

  .section-swiper.fix .visual-section .swiper {
    height: auto;
  }

  .visual-section .swiper-slide {
    height: 400px;
  }

  .visual-section .slogan {
    padding-bottom: 10rem;
    padding-top: 15rem;
    font-size: 4vw;
  }

  .section-swiper.fix .visual-section .slogan {
    padding-left: 5rem;
  }

  .visual-section .links ul {
    flex-direction: column;
    gap: 0;
  }

  .visual-section .links {
    padding: 0;
    bottom: 0;
    position: static;
    transform: none;
  }

  .visual-section .links ul li a {
    border-radius: 0;

  }
}

@media (max-width:720px) {
  .section-swiper.fix .visual-section .slogan {
    font-size: 6vw;
  }
}

@media (max-width:530px) {
  .visual-section .links ul li a {
    font-size: 4.5cqmin;
  }
}

.visual-section .visual-button-next,
.visual-section .visual-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 7rem;
  height: 7rem;
  background-size: contain;
  z-index: 3;
}

.visual-section .visual-button-next {
  right: 4rem;
  background-image: url(../images/main_icon_arrow_next.svg);
}

.visual-section .visual-button-prev {
  left: 4rem;
  background-image: url(../images/main_icon_arrow_prev.svg);
}

.visual-section .swiper-button-disabled {
  opacity: .2;
  cursor: default;
}

.sec-tit {
  font-size: 1.4em;
  font-weight: 700;
}

.sec-tit.white {
  color: #fff;
}

.notice-section {
  background-color: #F2F4F6;
  /*  padding: 10rem 0 0;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.notice-section>.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.notice-section .group {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding-top: 8rem;
}

.notice-section .notice-group {
  display: flex;
  gap: 1.6rem;
}

.notice-section .notice-group>* {
  flex-grow: 1;
  background-color: #fff;
  border-radius: 1rem;
  padding: 2.4rem 3rem;
  position: relative;
  width: 50%;
}

.notice-section .notice-group .sec-tit {
  border-bottom: solid 1px var(--color-border);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.notice-section .notice-group .more-link {
  font-size: .8em;
  position: absolute;
  right: 3rem;
  top: 3.5rem;
  display: flex;
  gap: .4rem;
}

.notice-section .notice-group .more-link::after {
  content: "\ea6e";
  font-family: "remixicon";
}

.notice-section .notice-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.notice-section .notice-list .subj {
  font-size: 1.3em;
  font-weight: 500;
  height: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}

.notice-section .notice-list .subj::before {
  content: '';
  position: absolute;
  width: 0;
  height: .8em;
  top: .2em;
  left: 0;
  background-color: rgb(255 47 47 / 15%);
  transition: all .5s ease-in-out 0s;
}

.notice-section .notice-list a:hover {
  color: #000;
}

.notice-section .notice-list a:hover .subj::before {
  width: 100%
}

.notice-section .notice-list .cont,
.notice-section .notice-list .date {
  font-size: .9em;
  font-weight: 300;
  flex-shrink: 0;
  max-height: 3.9em;
  overflow: hidden;
}

.notice-section .notice-list a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.notice-section .notice-list li:first-child a {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  border-bottom: dashed 1px var(--color-border);
  padding-bottom: 2rem;
}

.notice-section .notice-list li:first-child .subj {
  height: 2.6em;
  white-space: wrap;
}

.notice-section .info-group {
  border-radius: 1rem;
  color: #fff;
  padding: 3rem;
  background: linear-gradient(90deg, var(--color-primary) 0%, var(--color-secondary) 100%);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.notice-section .info-group::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../images/symbol.png) no-repeat 100% 0;
}

.notice-section .info-group li {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.notice-section .info-group ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.notice-section .info-group li .label {
  width: 4em;
  padding: .5rem;
  display: inline-block;
  border-radius: 5rem;
  text-align: center;
  background-color: rgba(255, 255, 255, .1);
}


.notice-section .info-group li .tel {
  font-size: 1.2em;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.notice-section .info-group li .tel span {
  display: flex;
  align-items: center;
}

.notice-section .info-group li .tel span::after {
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #D1DAE8;
  margin-left: 1rem;
}

.notice-section .info-group li .tel span:last-child::after {
  display: none;
}

@media (min-height:980px) {
  .section-swiper.fix .visual-section {
    height: 100vh;
  }

}

@media (max-width:1280px) {
  .notice-section {
    font-size: 14px;
  }
}

@media (max-width:860px) {
  .notice-section {
    font-size: 14px;
    padding-top: 5rem;
  }

  .notice-section>.container {
    padding-left: 0;
    padding-right: 0;
  }

  .notice-section .notice-group>*,
  .notice-section .info-group {
    border-radius: 0;
  }

  .notice-section .notice-group {
    flex-direction: column;
  }

  .notice-section .notice-group>* {
    width: 100%;
  }

  .section-swiper.fix .notice-section .group {
    padding-top: 0;
    margin-bottom: 3rem;
  }
}

@media (max-width:520px) {
  .notice-section .info-group li .tel span::after {
    display: none;
  }
}

 